.vs/
debug/
Sitecore.FeatureFlags/bin/
Sitecore.FeatureFlags/obj/
packages/
lib/Sitecore.*
lib/HedgehogDevelopment.TDS.5.5.0.19/*
release/
*.user
Sitecore.FeatureFlags.TDS/obj
Sitecore.FeatureFlags.TDS/bin