<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <getPlaceholderRenderings>
        <processor patch:after="*[@type='Sitecore.Pipelines.GetPlaceholderRenderings.GetAllowedRenderings, Sitecore.Kernel']" type="Sitecore.FeatureFlags.Pipelines.GetActiveModules, Sitecore.FeatureFlags" />
      </getPlaceholderRenderings>
      <getLookupSourceItems>
        <processor patch:after="*[@type='Sitecore.Pipelines.GetLookupSourceItems.ProcessQuerySource, Sitecore.Kernel']" type="Sitecore.FeatureFlags.Pipelines.GetAllowedOptions, Sitecore.FeatureFlags" />
      </getLookupSourceItems>
    </pipelines>
  </sitecore>
</configuration>